<div ng-controller="singleGameCtrl">
    <h1 class="textSelectMenu">Выберите тему вопроосов:</h1>
    <div class="forpicture">
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail" type="button" ng-click="sendRequest()">
                    <img src="sport.jpg">
                    <div class="caption">
                        <h3 class="textCenter changeHeigth">Спорт</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail" type="button" ng-click="sendRequest()">
                    <img src="iskustvo.jpg">
                    <div class="caption">
                        <h3 class="textCenter changeHeigth">Искуство</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail" type="button" ng-click="sendRequest()">
                    <img src="music.jpg">
                    <div class="caption">
                        <h3 class="textCenter changeHeigth">Музыка</h3>
                    </div>
                </a>
            </div>
            <div class="col-xs-4 col-md-2">
                <a href="#" class="thumbnail" type="button" ng-click="sendRequest()">
                    <img src="wild.jpg">
                    <div class="caption">
                        <h3 class="textCenter changeHeigth">Животный мир</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>